.button {
  width: 175px;
  height: 55px;
  padding: 0;
  font-family: $font-secondary;
  background-color: transparent;
  border: 1px solid white;
  color: white;

  transition: all 0.3s linear;

  &:hover {
    background-color: white;
    color: #333333;
  }

  &--black {
    border: 1px solid #333333;
    color: #333333;

    &:hover {
      background-color: #333333;
      color: white;
    }
  }
}

.section-title {
  margin-bottom: 40px;
  font-size: 32px;
  font-family: $font-main;
  text-transform: uppercase;
  display: block;
}
