.copyright {
  padding: 0 30px;
  background-color: #fcfcfc;
  height: 28px;
  display: block;

  @media (min-width: $screen-tablet-medium) {
    padding: 24px 120px;
    display: flex;
    text-align: center;
    align-items: center;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    font-size: 8px;
    font-family: 'Lato';
    color: #333333;
    margin-top: 10px;
    opacity: 0.64;

    @media (min-width: $screen-tablet-medium) {
      margin-right: 79px;
      font-size: 12px;
    }
  }
}

.copyright-paymethod {
  margin-left: auto;
  display: flex;

  @media (min-width: $screen-tablet-medium) {
    display: flex;
  }
}

.paymethod-icon {
  height: 14px;
  width: 14px;

  @media (min-width: $screen-tablet-medium) {
    height: auto;
    width: auto;
  }
}
