.express-section {
  display: flex;
  margin-top: 110px;
  padding: 0 120px;
  cursor: pointer;

  &__wrapper:last-child {
    margin-left: 34px;
  }

  &__button {
    display: block;
    margin: 0 auto;
    margin-top: 79px;
  }
}
