.featured-section {
  padding: 0 30px;
  margin-bottom: 74px;
  cursor: pointer;

  @media (min-width: $screen-tablet-medium) {
    margin-bottom: 110px;
  }

  @media (min-width: $screen-desktop-medium) {
    padding: 0 120px;
    margin-bottom: 50px;
  }

  &__cards {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    @media (min-width: $screen-tablet-small) {
      flex-direction: row;
    }

    @media (min-width: $screen-tablet-medium) {
      margin-bottom: 40px;
    }
  }

  &__button {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
