.header {
  padding: 0 119px;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position: absolute;
  width: 100%;

  &__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &__action-icon {
    margin-right: 25px;
    cursor: pointer;
  }
}
