.header {
  background-color: #ffffff;
  padding: 0 119px;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__icons-images {
    margin-right: 25px;
  }
}
