.additional-products {
  padding: 0px 30px;
  margin-bottom: 30px;

  @media (min-width: $screen-tablet-small) {
    flex-direction: row;
  }

  @media (min-width: $screen-tablet-medium) {
    flex-direction: row;
    margin-bottom: 40px;
  }

  @media (min-width: $screen-desktop-medium) {
    flex-direction: row;
    margin-bottom: 40px;
    padding: 110px 120px;
  }
}
