$font-main: 'Lora', serif;
$font-secondary: 'Lato', sans-serif;
$font-color-light: #000000;
$font-color-dark: #ffffff;

$screen-mobile-medium: 414px;
$screen-tablet-small: 768px;
$screen-tablet-medium: 1024px;
$screen-desktop-medium: 1366px;
$screen-desktop-large: 1536px;
